bin/
obj/
out/
.env
*.db
*.db-shm
*.db-wal
appsettings.json
!QA.Backend/appsettings.json
!QA.Backend/appsettings.Development.json
AUMOVIOQ&Aapp.csproj
knowledge_base.txt
Program.cs
!QA.Backend/Program.cs
Q-A-project.sln
Readme.md
